.cart-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px 30px;
  background: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.cart-btn:hover {
  background-color: #323131;
}
.cart-modal.hidden {
  display: none;
}

.cart-modal {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background: white;
  border: 1px solid #ccc;
  width: 350px;
  height: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0004;
  animation: fade 0.2s ease-in;
}

.cart-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  > #cart-items {
    width: 100%;

    > .cart-item {
      display: flex;
      justify-content: space-between;
    }
  }

  > .botones {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > button {
      padding: 10px 15px;
      background: #6775e0;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

@keyframes fade {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
