<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/auth.css">
  <title>Login</title>
</head>
<body>
  <h1 class="title">Iniciar sesión</h1>

  <form id="loginForm">
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
  </form>

  <p><a href="register.html">Crear una cuenta</a></p>

  <script type="module" src="../../dist/auth/auth.js"></script>
</body>
</html>
